* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
}

i {
    font-size: 24px;
}



.disable-select,
li {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

body {
    width: 375px;
    margin: 0 auto;
}

header {
    padding: 20px;
    background-image: url(/images/mobile/image-header.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 538px;
    position: relative;
}

ul {
    list-style: none;
}

a {
    color: #8A8A96;
    text-decoration: none;
}


.burger {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 18px;
    background-image: url(/images/icon-hamburger.svg);
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 70px;
    width: 335px;
    height: 350px;
    padding: 40px 50px 50px 70px;
    background-color: #fff;
    text-align: center;
    border-top: #3FBEFE solid 20px;
    border-right: #fff solid 20px;
}

.menu li {
    font-size: 20px;
    line-height: 55px;
}


a.contact {
    display: block;
    font-family: 'Fraunces', serif;
    color: black;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 20px;
    background-color: #FDD700;
    border-radius: 27.5px;
}

.hidden {
    display: none;
}

h1 {
    margin-top: 80px;
    color: white;
    font-family: 'Fraunces', serif;
    font-size: 42px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.arrow {
    display: block;
    margin: 50px auto
}

.transform {
    display: flex;
    flex-direction: column;
}

.img {
    background-size: contain;
    background-repeat: no-repeat;
    width: 375px;
    height: 312px;
}

.egg {
    background-image: url(/images/mobile/image-transform.jpg);
    order: -1;
}

h2 {
    margin: 80px 0 30px;
    font-family: 'Fraunces', serif;
    font-size: 36px;
    text-align: center;
}

p.grey {
    margin: 0 10px;
    color: #8A8A96;
    text-align: center;
    line-height: 32px;
}

.more_yellow {
    margin: 30px;
    font-family: 'Fraunces', serif;
    color: black;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

.yellow {
    display: block;
    position: absolute;
    z-index: -1;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 160px;
    height: 10px;
    background-color: #FEF1B5;
    border-radius: 5px;
    transition: 0.5s;
}

.yellow:hover {
    background-color: red;
}

.stand_out {
    display: flex;
    flex-direction: column;
}

.glass {
    background-image: url(/images/mobile/image-stand-out.jpg);
}

.more_red {
    margin: 30px;
    font-family: 'Fraunces', serif;
    color: black;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

.red {
    display: block;
    position: absolute;
    z-index: -1;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 160px;
    height: 10px;
    background-color: #FFD9D3;
    border-radius: 5px;
    transition: 0.5s;
}

.graphic_design {
    background-image: url(images/mobile/image-graphic-design.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.title {
    margin: 0 30px;
    padding-top: 380px;
}


.text {
    padding: 40px 20px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    line-height: 28px;
}

.green {
    color: #2C7566;
}

.photography {
    background-image: url(images/mobile/image-photography.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.blue {
    color: #003D63;
}

h3 {
    margin: 50px 0 0;
    color: #A7A7AA;
    font-family: 'Fraunces', serif;
    font-weight: 600;
    letter-spacing: 2.6px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.client_item {
    margin: 75px 0;
    text-align: center;
}

.photo {
    margin: 25px 0;
    height: 75px;
    border-radius: 50%;
}

h4 {
    font-size: 28px;
    margin: 30px 0 15px;
    font-family: 'Fraunces', serif;
    color: black;
}

.job {
    color: #A7A7AA;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery_img {
    background-size: cover;
    background-repeat: no-repeat;
    height: 188px;
    width: 50%;
}

.milkbottles {
    background-image: url(/images/mobile/image-gallery-milkbottles.jpg);
}

.orange {
    background-image: url(/images/mobile/image-gallery-orange.jpg);
}

.cone {
    background-image: url(/images/mobile/image-gallery-cone.jpg);
}

.sugar-cubes {
    background-image: url(/images/mobile/image-gallery-sugar-cubes.jpg);
}

footer {
    padding: 70px 0 40px;
    background-color: #8FD4C5;
    text-align: center;
}


footer ul {
    margin: 30px auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.footer_menu_item {
    display: block;
    width: 20%;
    text-align: center;
}

.footer_menu_item a {
    color: #2C7566;

}

.socials {
    margin-top: 50px;
    width: 200px;
}

@media(min-width:1440px) {
    body {
        width: 1440px;
    }

    header {
        padding: 20px;
        background-image: url(/images/desktop/image-header.jpg);
        height: 800px;
    }

    a {
        color: #fff;
    }

    i:hover {
        color: #fff;
    }


    .burger {
        display: none;
    }

    .hidden {
        display: block;
    }

    .logo {
        padding: 20px 20px 0;
        width: 100%;
        height: 100px;
    }

    .logo img {
        height: 24px;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        position: auto;
        top: 0;
        right: 0;
        width: 500px;
        height: auto;
        padding: 20px;
        background-color: transparent;
        border: none;
    }

    .menu li {
        margin: 0 10px;
        display: inline-block;
        font-size: 20px;
        line-height: 55px;
    }

    a.contact {
        display: block;
        font-family: 'Fraunces', serif;
        color: black;
        text-transform: uppercase;
        font-weight: 900;
        margin: 0;
        background-color: white;
        border-radius: 27.5px;
    }



    .contact {
        display: block;
        margin-top: 0;
        width: 150px;
        background-color: #fff;
        cursor: pointer;
    }

    .contact:hover {
        background-color: #6ACFFF;
    }

    h1 {
        font-size: 54px;
        letter-spacing: 9px;
    }

    .arrow {
        display: block;
        margin: 80px auto
    }

    .transform {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr 1fr;
        grid-template-areas: "h2 img"
            "text img"
            "more img";
    }

    .img {
        background-size: contain;
        background-repeat: no-repeat;
        width: 720px;
        height: 600px;
        grid-area: img;
    }

    .egg {
        background-image: url(/images/desktop/image-transform.jpg);
        order: 1;
    }

    .grid_h2 {
        grid-area: h2;
        margin: 130px 130px 20px;
    }

    p.grid_text {
        grid-area: text;
        margin: 0 130px;

    }

    a.grid_more {
        grid-area: more;
        width: 160px;
        height: 30px;
        margin: 0 0 0 130px;
    }


    h2 {
        font-size: 48px;
        text-align: left;
    }

    p.grey {
        text-align: left;
        line-height: 36px;
    }

    .stand_out {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr 1fr;
        grid-template-areas: "img h2"
            "img text"
            "img more";
    }

    .glass {
        background-image: url(/images/desktop/image-stand-out.jpg);
    }

    .two_sections_containter {
        display: flex;
    }

    .graphic_design {
        width: 720px;
        height: 600px;
        background-image: url(images/desktop/image-graphic-design.jpg);
        background-size: cover;
    }

    .title {
        margin: 0 30px;
        padding-top: 360px;
        text-align: center;
    }

    .text {
        padding: 40px 140px;
        font-size: 18px;
        letter-spacing: 1.2px;
    }


    .photography {
        width: 720px;
        height: 600px;
        background-image: url(images/desktop/image-photography.jpg);
        background-size: cover;
    }

    h3 {
        margin: 0;
        letter-spacing: 2.8px;
        font-size: 24px;
    }

    .clients {
        padding: 150px 100px 100px;
    }

    .clients_containter {
        display: flex;
    }

    .client_item {
        margin: 50px 20px;
        text-align: center;
    }

    .client_item p {
        text-align: center;
        margin: 25px 0;
    }


    .gallery {
        display: flex;
        flex-wrap: wrap;
    }

    .gallery_img {
        background-size: cover;
        background-repeat: no-repeat;
        height: 447px;
        width: 25%;
    }

    .milkbottles {
        background-image: url(/images/desktop/image-gallery-milkbottles.jpg);
    }

    .orange {
        background-image: url(/images/desktop/image-gallery-orange.jpg);
    }

    .cone {
        background-image: url(/images/desktop/image-gallery-cone.jpg);
    }

    .sugar-cubes {
        background-image: url(/images/desktop/image-gallery-sugarcubes.jpg);
    }

    footer ul {
        width: 350px;

    }

    .footer_menu_item a:hover {
        color: white;
    }

}